{
  "rules": {
    // Best Practices
    "curly": 1,
    // Stylistic Issues
    "callback-return": [
      2,
      [
        "callback",
        "cb",
        "next"
      ]
    ],
    "global-require": 2,
    "handle-callback-err": [
      2,
      "^(err|error)$"
    ],
    "no-new-require": 2,
    "no-path-concat": 2,
    "no-sync": 1,
    "array-bracket-spacing": 2,
    "brace-style": 2,
    "camelcase": 1,
    "comma-style": 2,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended"
}
